/* layout.css */
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 70px;
  height: 100vh;

  @media (min-width: 0px) and (max-width: 720px) {
    width: 40px;
  }
}

.content {
  flex-grow: 1;
}
